<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title></title>
	<link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>
	<script src="/static/js/jquery-3.2.1.js"></script>
</head>
<body onload="LoadPrice()">
<script src="/static/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
 <script language="javascript" type="text/javascript">

  $(document).ready(function() {
  		LoadQuantity();
    $('select').material_select();
  });

function popitup(url) {
    var leftPosition, topPosition;
    
    leftPosition = (window.screen.width / 2) - ((800 / 2) + 10);
    
    topPosition = (window.screen.height / 2) - ((600 / 2) + 50);

  newwindow=window.open(url,'name',"status=no,height=600,width=800,resizable=yes,left="
    + leftPosition + ",top=" + topPosition + ",screenX=" + leftPosition + ",screenY="
    + topPosition + ",toolbar=no,menubar=no,scrollbars=no,directories=no");

  if (window.focus) {newwindow.focus()}
  return false;
}
</script>

  
<div class="container">
	 <div class="row">
	   <div class="col s4">
		<table class="centered" >
			<thead class="center">
				<th>Share Name</th>
			</thead>
			{% for obj in share_obj %}
			<tr>
		
				<td><a href="/sharegraph/{{ obj.name }}" onclick="return popitup('/sharegraph/{{ obj.name }}')">{{ obj.name }}</a></td>
			</tr>
			{% endfor %}
			
	
		</table>

      </div>
      <div class="col s4">
      	<table>
      		<thead>
      			<th class="center">Share Price</th>
      		</thead>
      		<tr id="cp">
      		
      		</tr>
      	</table>
      	
      	
      </div>
      <div class="col s4">
      	<table>
      		<thead>
      			<th class="center">Quantity</th>
      		</thead>
      		<tr id="cq">
      		
      		</tr>
      	</table>
      	
      </div>
  </div>
  <button class="btn waves-effect waves-light light-blue darken-4 " onclick="LoadPrice()">Refresh Price</button>
</div>
<br>
<div class="container input-field ">
	<form  id="sellbuy-form">
			{% csrf_token %}
			<select name="dropdown" id="dropdown">
				  {% for obj in share_obj %}
				<option value="{{ obj.name }}">{{ obj.name }}</option>
					{% endfor %}
			</select>
			<br>
			<input type="number" name="quantity" id="quantity">
			<br><br>
			<button class="btn waves-effect waves-light green darken-4" type="submit" name="buy" id="buy" value="BUY"  >BUY</button>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button class="btn waves-effect waves-light  orange darken-4" type="submit" name="sell" id="sell" value="SELL"  >SELL</button>
			<br><br><br>
<button class="btn waves-effect waves-light  blue-grey darken-4 " formaction="/logout/" >LOGOUT</button>
	</form>
	
</div>
	


<div>
	<p id="response">
		
	</p>
</div>	
<div>
	<p id="response1">
		
	</p>
</div>

	<script>

		function LoadPrice(){
			$.get('/currentprice',function(data){

				$("#cp").html(data);
			});
		}

		$("#buy").click(function(e){
			
			e.preventDefault();

			var dropdown = $("#dropdown").val();
			var quantity = $("#quantity").val();
			var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val();
			var button = $(this).val();

			$.ajax({
				type : 'POST' ,
				url : '/sellbuy/' ,
				data :{
					dropdown : dropdown ,
					quantity : quantity ,
					button : button ,
					csrfmiddlewaretoken : csrfmiddlewaretoken 

				},
				success : function(data1){
					LoadQuantity();



					// var response1 = $("#response1").html(data1);
					Materialize.toast(data1, 4000 ,'rounded');
					
				}
			});

		});

		$("#sell").click(function(e){
			
			e.preventDefault();

			var dropdown = $("#dropdown").val();
			var quantity = $("#quantity").val();
			var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val();
			var button = $(this).val();

			$.ajax({
				type : 'POST' ,
				url : '/sellbuy/' ,
				data :{
					dropdown : dropdown ,
					quantity : quantity ,
					button : button ,
					csrfmiddlewaretoken : csrfmiddlewaretoken 

				},
				success : function(data1){
					LoadQuantity();
					// var response = $("#response").html(data1);
					Materialize.toast(data1, 4000 ,'rounded');
					
				}
			});

		});

		function LoadQuantity(){

			$.get('/currentquantity' , function(data){
				$("#cq").html(data);
				
			});
		}

	

	</script>
</body>
</html>